nav {
    display: flex;
    background-color: black;
width: 100%;
justify-content: space-between;
}
.logo {
    color: white;
    font-family: 'Courier New', Courier, monospace;
font-style: normal;
font-weight: 700;
font-size: 40px;
padding: 10px;
line-height: 48px;

}
nav ul {
    display: flex;
list-style-type: none;

font-size: 20px;
padding: 20px;
gap: 30px;
flex-wrap: wrap;
}
ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}
ul li a:hover {
    transform: scale(1.5);
    background-color: white;
    color: #000000;
}
.hero {


max-height: 380px;
background: #757575;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.hero h2 {
    

font-family: 'Courier New', Courier, monospace;
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 77px;
text-align: center;

color: #000000;
max-width: 884px;
max-height: 110px;


}
.article {
    border: 2px solid black;
    width: 100%;
    min-width: 380px;
    background-color: lightgray;
   
}
.article1 {
    padding-right: 10px;
    padding-left: 10px;
}
.article2 {
    padding-right: 10px;
    padding-left: 10px;
}
.article3 {
    padding-right: 10px;
    padding-left: 10px;
}
.date {
   
width: 87px;


font-family: 'Courier New', Courier, monospace;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;


color: #2c2c47;


}



.hero p {
font-family: 'Courier New', Courier, monospace;
color: lightgray;
font-style: normal;
font-weight: 700px;
font-size: 24px;
text-align: center;
}
.btn1 {
    border-radius: 20px;
    background-color: rgb(83, 83, 205);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: all 0.2s;
    box-shadow: 0px 8px 10px black;
    
}
.btn1:hover {
    background-color: lightblue;
    color: black;
    cursor: pointer;
}
.btn2:hover {
    background-color: lightblue;
    color: black;
    cursor: pointer;
}
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
}
label {


font-family: 'Courier New', Courier, monospace;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #000000;


}
input {
  
width: 266px;
height: 33px;


background: #D9D9D9;
border: 1px solid black;

}
textarea {
    
width: 353px;
height: 48px;


background: #D9D9D9;

}
.btn2 {
   border-radius: 20px;
    background-color: rgb(83, 83, 205);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none; 
    padding: 15px;
     transition: all 0.2s;
    box-shadow: 0px 5px 10px black;
    
}
.about {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-top: 10px;
}
.hp {
    float: right;
}
.about p {

max-width: 600px;


font-family: 'Courier New', Courier, monospace;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #000000;


}
.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: auto;

}

@media (max-width: 768px) {
    section {
    display: grid;
    grid-template-columns: 100%;
   
   
}
    nav ul {
        gap: 10px;
        font-size: 14px;
    }
}


footer {
max-width: 1440px;
max-height: 52px;


background: #8E8E93;
margin-top: 50px;
display: flex;
justify-content: center;
align-items: center;

}
footer p {

width: 200px;


font-family: 'Courier New', Courier, monospace;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #FFFFFF;
text-align: center;


}
form {
    padding-left: 10px;
    padding-right: 10px;
}





.single-post-view {
    max-width: 1000px;
    margin: 40px;
    display: flex;
    gap: 50px;
    padding: 20px;
}
.full-post {
    width: 100%;
    height: auto;
    max-width: 600px;
    object-fit: cover;

}
.full-text {
    padding: 10px;
}







